// Litera 4.0.0
// Bootswatch


$web-font-path: "https://fonts.googleapis.com/css?family=Roboto:400,700" !default;
@import url($web-font-path);
$web-font-path: "https://fonts.googleapis.com/css?family=Open+Sans" !default;
@import url($web-font-path);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Navbar ======================================================================

.navbar {
  font-size: 14px;
}

.bg-primary {
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &.navbar-fixed-top {
    border-width: 0 0 1px 0;
  }

  &.navbar-fixed-bottom {
    border-width: 1px 0 0 0;
  }
}

.bg-inverse {
  background-color: $brand-success !important;
}

// Buttons =====================================================================

.btn {
  border-radius: 0px;
  font-family: $font-family-sans-serif;
  font-size: 14px;

  &-lg {
    border-radius: 0px;
  }

  &-sm {
    border-radius: 0px;
    font-size: 11px;
  }
}

// Typography ==================================================================

p {
  font-family: $font-family-serif;
}

blockquote {
  font-style: italic;

  &-footer {
    color: $blockquote-border-color;
  }
}

footer {
  font-size: 14px;
}

.lead {
  color: $gray-light;
  font-family: $font-family-sans-serif;
}

// Tables ======================================================================

table,
.table {
  font-size: 14px;

  &-success,
  &-info,
  &-warning,
  &-danger {
    color: #fff;
  }
}


// Forms =======================================================================

// Navs ========================================================================


.nav,
.breadcrumb,
.pagination {
  font-size: 14px;
}

// Indicators ==================================================================

.alert {
  font-size: 14px;

  &, p {
    font-family: $font-family-sans-serif;
  }

  a, .alert-link {
    color: #fff;
    font-weight: normal;
    text-decoration: underline;
  }
}

.tag {

  &-default {
    color: $btn-secondary-color;
  }
}

.tooltip {
  font-size: 11px;
}

// Progress bars ===============================================================

// Containers ==================================================================

.list-group {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
}
